<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  id="home"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col overflow-hidden">
    <header class="overflow-hidden">
      <h2 class="text-white pt-40 text-[40px] font-medium">Experience Tesla</h2>
      <p class="text-white text-sm">Schedule a Demo Drive Today</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-12 overflow-hidden">
      <div class="overflow-hidden">
        <a
          class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded-md font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
          href="#">Demo Drive</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10 overflow-hidden">
    <video
      class="object-center object-cover h-full w-full overflow-hidden"
      autoplay
      muted
      loop
      src="/video.webm"></video>
  </div>
</section>
