<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  id="model3"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col overflow-hidden">
    <header class="overflow-hidden">
      <h2 class="text-black pt-32 text-[40px] font-medium">Model 3</h2>
      <a href="#" class="text-black text-sm underline">Explore Inventory</a>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-12 overflow-hidden">
      <div class="gap-x-6 flex mx-auto overflow-hidden">
        <a
          class="bg-gray-800 text-sm rounded-md font-medium text-white px-12 py-2 inline-block hover:bg-black transition-colors"
          href="#">Demo Drive</a
        >
        <a
          class="bg-white/80 text-sm rounded-md font-medium text-black px-12 py-2 hover:bg-black hover:text-white transition-colors inline-flex justify-center"
          href="#">Custom Order</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10 overflow-hidden">
    <img
      src="/model3.avif"
      alt="Model 3"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
